<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260321087125-2j484bo61o4us60dhq0sin1s2nmuogs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260321087125-2j484bo61o4us60dhq0sin1s2nmuogs8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260321087125-tl8p7l9c7ikvs4ru174qui9t131lid57.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClKPqh5S_9nhk81mitmazPcG7op6WXnbE</string>
	<key>GCM_SENDER_ID</key>
	<string>260321087125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitaro</string>
	<key>PROJECT_ID</key>
	<string>kitaro-4ffe4</string>
	<key>STORAGE_BUCKET</key>
	<string>kitaro-4ffe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260321087125:ios:c4a50b5a7365a66789959c</string>
	<key>DATABASE_URL</key>
	<string>https://kitaro-4ffe4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>